<ion-view hide-back-button="true">
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="buttons">
            <button class="button" ng-click="doSomething()">Left Button</button>
        </div>
        <h1 class="title">Title!</h1>
        <div class="buttons">
            <button class="button">Right Button</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <button class="button button-block button-positive" disabled="{{ ticket != undefined }}" >Your Tiket</button>
        <button class="button button-block button-positive" ng-click="navigateToServices()" disabled="{{ ticket === undefined }}">Get Ticket</button>
    </ion-content>
</ion-view>
